.create{
    padding-top: 50px;
    text-align: center;

table{
    margin-left: 33%;
    text-align: center;
}
td{
   min-width: 100px;
}}
input{
    width: auto;
}
button{
    border-radius: 0%;
    color:#ff1616;
    background: none;
    border: none;
    font-weight: bolder;
    font-size: 1.1em;

}